.relative{
    position: relative;
    width: 400px;
    height: 200px;
    border: 2px solid red;

}
.absolute{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 100px;
    border: 1px dotted blue;

    
}